<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('bundles/lico/css/style.css') }}"/>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <title>LicoBox</title>
</head>
<body>
    <div class="row">
        <div class="col l3 offset-l1 m12 s12 texte">
            <p>
                Vous êtes habitant dans un petit village reculé perdu au fond d’une vallée.
                Un soir une épidémie se déclenche et votre médecin de village vous demande, en désespoir de causes de trouver un hypothétique remède basé sur un concentré de Licorne, extrait à la réunion de plusieurs d’entre elles.
            </p>
            <p>
                Suite à sa requête vous prenez votre courage à deux mains et vous vous mettez en quêtes des 12 licornes nécessaires à la synthétisation de ce remède miracle qui pourra soigner votre village.
            </p>
        </div>
        <div class="col l2 offset-l1 m2 offset-m5 s2 offset-s5 logo">
            <img src="{{ asset('bundles/lico/images/6784492-cute-pink-unicorn.jpg') }}" alt="logo"/>
        </div>
        <div class="col l3 m12 s12 info">
            <p>

            </p>
            <p>

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col l6 m6 s12 bouton">
            <a href="{{ path('page_2') }}"><button type="submit" class="button button1">Continuer</button></a>
        </div>
    </div>
</body>
</html>